@import '../../styles/variable.module.scss';
@import '../mixins.scss';

.container {
  display: flex;
  gap: 48px;
  align-items: center;
  @include mobile() {
    text-align: center;
    gap: 32px;
  }
  span {
    display: flex;
    height: 100%;
    align-items: center;

    img {
      width: 144px;
    }
  }
  div {
    display: flex;
    flex-direction: column;
    max-width: 640px;

    h2 {
      margin: 16px 0px;
    }
    p {
      margin: 0px;
      font-size: 20px;
      @include mobile() {
        font-size: 16px;
      }
    }
    .step {
      color: $color-primary;

      font-weight: bold;
      letter-spacing: 1.6px;
      margin-top: 0px;
    }

    .paragraph {
      margin-top: 0px;
      line-height: 32px;
      @include mobile() {
        line-height: 24px;
      }
    }
  }
}

.flex-row {
  flex-direction: row;
  @include mobile() {
    flex-direction: column;
  }
}

.flex-row-reverse {
  flex-direction: row-reverse;
  @include mobile() {
    flex-direction: column;
  }
}
