@import '../../styles/variable.module.scss';
@import '../mixins.scss';
.mainContainer {
  height: 64px;
  padding: 8px 64px 8px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid $color-black;
  border-radius: 16px;
  cursor: pointer;
  color: #ffff;
  text-decoration: none;
  gap: 20px;
  @include mobile() {
    padding-right: 20px;
  }

  img {
    height: 100%;
    max-width: 64px;
    transform: translateY(-4px) translateX(4px);
  }

  span {
    p {
      margin: 0px;
    }
    :last-child {
      font-weight: bold;
      font-size: 20px;
    }
  }
}
