@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');

@font-face {
  font-family: 'Noto Sans', sans-serif;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Caveat Brush', sans-serif;
  font-weight: normal;
  font-style: normal;
}
